.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 1.5rem;
    cursor: pointer;
    height: 300px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.5s;
    }

    &:hover img {
        transform: scale(1.1);
    }
}

.gallery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(46, 127, 177, 0.9), transparent);
    display: flex;
    align-items: flex-end;
    padding: 1.5rem;
    color: white;
    opacity: 0;
    transition: all 0.3s;
}

.gallery-item:hover .gallery-overlay {
    opacity: 1;
}

.nav-item-gallery .nav-link {
    color: #2e7fb1 !important;

    &.active {
        color: #fff !important;
        background-color: #2e7fb1;
    }

    &:hover {
        color: #8cc029 !important;
    }

    &:focus {
        color: #fff !important;
    }
}